[2011-04-17 20:17] andoma opened #5 "poll.h and netdb.h"
... should IMHO be moved out of net/ so they reside directly in the include path as they are on all other unix-like systems

Now showtime needs to have stuff like this:

[code]

which is rather ugly.

Thanks

[2011-04-17 20:59] andoma opened #6 "setsockopt() is missing..."
... used to exit in v1

[2011-04-18 19:02] afiser opened #7 "no video folder in samples"
the makefile in samples has a video in it to build, but there is not one.

i have looked at the HACKERCHANNEL/PSL1GHT and there is a video folder with a few samples in it.

needless to say if you dont remove video from the makefile it errors out. and i was wondering why the video folder was gone

[2011-04-19 08:20] #7 closed, assigned to nobody

[2011-04-22 04:56] zerkman opened #10 "Naming of kb.h anonymous union/structs"
Not sure this change was a good idea.

This may break existing code to a certain extent.

[2011-04-28 00:59] scristopher opened #14 "[sysutil_wrapper.o] Error 1 ?"
not sure if this is the right place but everytime try to build on linux get

/dev/ps3/PSL1GHT/ppu/sprx/libsysutil/./sysutil_wrapper.c:203:7: error: too many arguments to function 'sysSaveAutoSave2Ex'
/dev/ps3/PSL1GHT/ppu/sprx/libsysutil/./sysutil_wrapper.c:42:12: note: declared here
make[4]: **\* [sysutil_wrapper.o] Error 1
make[3]: **\* [ppu] Error 2
make[2]: **\* [all] Error 2
make[1]: **\* [all

[2011-04-29 08:16] #6 closed, assigned to nobody

[2011-04-29 08:17] #14 closed, assigned to nobody

[2011-05-01 19:16] AerialX opened #16 "osk.h 64bit issues"
The structs have 64bit pointers in them, and the osk functions have no wrappers.

Example: oskInputFieldInfo

[2011-05-09 02:05] jjolano opened #19 "libsysio pad actuators (was: libsysfs does not work)"
The functions for libsysfs (`sysFs*`) crash the ps3 when used. (libsysfs is in the LIBS, of course - otherwise it wouldn't compile)
However the `sysLv2Fs*` syscall equivalents work fine though.

[2011-05-15 00:39] CrashSerious opened #22 ""section `.tbss' can't be allocated in segment 1""
code previously compiling, without modification, now gets this error when building the self.

[2011-05-15 15:38] #22 closed, assigned to nobody

[2011-05-16 17:20] superg opened #24 "pkg build problem"
Hi,

I was trying to build some project pkg's, builds fine, but after execution there is error 80010017.
From what I saw on the net, it's "Can't start Blu-Ray Game".
After I overridden pkg build rule with my custom one, error disappeared:
PKGDIR      :=  pkg
%.pkg: %.self
    $(SELF_NPDRM) $(basename $(notdir $<)).elf $(PKGDIR)/USRDIR/EBOOT.BIN $(CONTENTID)
    $(SFO) --title "$(TITLE)" --appid "$

[2011-05-17 08:37] mrwicked opened #25 "new files get "system" attribute (sysFsOpen, fopen, etc..)"
The following functions create files with a "system" attribute:

fd = fopen("foo, "wt");
sysFsOpen("foo", SYS_O_WRONLY | SYS_O_CREAT | SYS_O_TRUNC, &fd, NULL, 0);

According to the specs they should be "archive" only.

[2011-05-17 17:38] superg opened #26 "executables aren't working anymore"
I have modified PSL1GHT videoTest example for SDK v2, and it isn't working anymore - program just drops silently to XMB after run.
(everything were fine in v1, really I don't understand all these "v2" renaming changes, like mass renaming without significant reason, uncapitalized naming conventions for structs - names are now similar to function names, which is bad, however this is another story)

[2011-05-17 21:00] #26 closed, assigned to nobody

[2011-05-19 16:01] CrashSerious opened #27 "commits from 5/15 fail to build working pkg files"
This is a problem that has occurred since the 'ld bug workaround/solution' was put into place. 3 repositories were changed simultaneously, so issues are being opened on all three; psl1ght, ps3toolchain, and binutils-2.20.1-PS3.

Essentially SELF files compile and load properly with ps3load, however, the pkg files that are created (both regular and geohot) do not work after installed. They do insta

[2011-05-20 17:35] #27 closed, assigned to nobody

[2011-05-20 20:20] #24 closed, assigned to nobody

[2011-06-03 22:11] kakaroto opened #28 "netdb.h location and compilation issues with ansi/pedantic flags"
I was trying to compile http_fetcher library (since there are no docs for the http API in psl1ght) and I noticed these issues :
1 - netdb.h is not installed correctly, it's in psl1ght/ppu/include/net/netdb.h but the standard is to include <netdb.h> and not <net/netdb.h>. So this either forces me to add -I$(PSL1GHT)/ppu/include/net to the CFLAGS or to copy netdb.h into ppu/include directly. Is this

[2011-06-22 17:52] kazzmir opened #36 "add access()"
I would like to use the access() function, can it be added?

NAME
       access - check real user's permissions for a file

SYNOPSIS
       #include <unistd.h>

[code]

[2011-07-02 00:45] kazzmir opened #46 "semaphore max value"
In SDL/src/thread/psl1ght/SDL_syssem.c:SDL_CreateSemaphore a call is made to sysSemCreate where the 4th parameter is the initial value. The 4th parameter controls the maximum value the semaphore can have.

[code]

The initial value should not be the limit of semaphores since SDL itself sometimes creates semaphores with an initial value of 0.
SDL/src/thread/SDL_thread.c:250 in SDL_CreateThread

arg

[2011-07-02 03:03] kazzmir opened #47 "raise limit of ps3load"
psl1ght/tools/ps3load/source/main.c has a hard coded limit of 20mb for a maximum file size to send. My debug binary is 64mb. Raising this limit to 500mb seems reasonable or possibly just get rid of the limit altogether. No changes are needed for the ps3 side.

Line 305

[code]

[2011-07-02 22:19] #46 closed, assigned to nobody

[2011-07-06 13:13] #47 closed, assigned to nobody

[2011-09-04 06:56] kakaroto opened #52 "rsxSetTransferImage incorrect behavior"
Hi,
I don't know much (==nothing) about how the rsx nvidia command pipeline thingy stuff works, but I know there's a bug in rsxSetTransferImage. The issue is simple, if you want  to copy a rect from the middle of one buffer to another using rsxSetTransferImage, it will always copy the buffer from its top-left corner rather than the rect that you specified.
Looking at the function in ppu/librsx/com

[2011-09-23 13:11] gzorin opened #54 "data_rules doesn't get copied by "make install-ctrl""
Not much to say here... adding the following to the top-level Makefile's install-ctrl target:

@cp -frv data_rules  $(PSL1GHT)

...will probably resolve the problem.

[2011-09-23 23:48] #52 closed, assigned to nobody

[2011-09-24 01:44] #54 closed, assigned to nobody

[2013-02-15 00:02] AndoniZubimendi opened #58 "Add netGetSockInfo function"
Recently Estwald ported Iris Manager to PSL1GHT v2, offering the changes he made to PSL1GHT. (https://github.com/Estwald/PSDK3v2)

This patch is one of the changes, it is very simple and it does not seems to be problematic. It add the function netGetSockInfo() and the associated struct netSocketInfo.

There is also a #define, to be able to use netInitializeNetwork as netInitialize.

[code]

[2013-02-15 00:09] AndoniZubimendi opened #59 "Add function unlink() to librt"
Recently Estwald ported Iris Manager to PSL1GHT v2, offering the changes he made to PSL1GHT. (https://github.com/Estwald/PSDK3v2)

This patch is another change. It add the function unlink() to the runtime library.

[code]

[2014-02-13 17:51] IngwiePhoenix opened #60 "Unable to build with ps3toolchain script: Linker error"
Hey. I am trying to run the ps3toolchain script, and at the point where it is supposed to link psl1ght, i get:

[code]

How, and where, do I remove -lcrt1.o? Its not a library after all, its an object O.o...

Kind regards, Ingwie.

[2014-07-31 00:42] Spork-Schivago opened #61 "sysLv2FsOpen uses u32 mode."
I noticed on the http://www.ps3devwiki.com/ps3/LV2_Functions_and_Syscalls website, it lists syscall 801 (sysLv2FsOpen) as this:
CellFsErrno sys_fs_open(const char *path, int flags, int *fd, uint64_t mode, const void *arg, uint64_t size);

However, in ppu/include/sys/file.h, I noticed it as this:
LV2_SYSCALL sysLv2FsOpen(const char *path,s32 oflags,s32 *fd,u32 mode,const void *arg,u64 argsize)

The

[2014-08-01 23:35] #61 closed, assigned to nobody

[2017-11-27 15:49] xerpi opened #67 "[RFC] psl1ght "v3""
In order to modernize ps3toolchain and psl1ght, and thanks to the lessons learnt in https://github.com/vitasdk, I propose the following changes to psl1ght:

- The latest versions of newlib include all the necessary C headers (socket.h, etc) so we should remove them, and the implementation of those functions should go to newlib.

- Add a NID database (like [this](https://github.com/vitasdk/vita-hea

[2017-12-02 12:54] zeldin commented on #67
Sounds nice.

I guess the renaming of typedefs and constants will break API compatibility; should we provide a backwards compat header to add the old names back as aliases?  I'm guessing it's not that important and that we should not mess up the new code because of it.

[2017-12-02 13:11] xerpi commented on #67
Well, my idea was that old homebrews can continue using the old version while new ones (or if they want to port) can use the newer version. Both versions could co-exist on the same system by changing the `PSL1GHT` environment variable when compiling.
Another important feature that we should target is the ability to generate PRXes.

[2017-12-04 14:42] xerpi commented on #67
A lot of the explained ideas are inspired by: https://wiki.henkaku.xyz/vita/images/a/a2/Vita_SDK_specifications.pdf.

[2020-05-07 08:58] ParzivalWolfram opened #70 "internal narrowing conversion error in ppu/include/vectormath/cpp/quat_aos.h"
Potential issue with PSL1GHT:

Reproduction code: `make -f Makefile.ps3` from https://github.com/emukidid/wii64-ps3 current master (commit 85b23eeaf0c3ef224cdde6074bcda99339b6274f for future reference)

Error:
[code]

[2020-05-07 16:48] miigotu commented on #70
You can add -Wno-narrowing to the cpp flags in that makefile.

It should work fine, but we should also explicitly  static_cast that line or update the include.

[2020-05-07 20:11] zeldin commented on #70
Is the value supposed to be 2147483648?  In that case I guess the code should simply say
`(vec_uint4){0x80000000U,0x80000000U,0x80000000U,0}`
instead?

[2020-05-07 20:14] ParzivalWolfram commented on #70
I'm unsure, but from the surrounding code, it seems 0x7FFFFFFF would be
sufficient. I'm not the greatest at C, however, so take someone else's word
for it, not mine.

On Thu, May 7, 2020 at 3:11 PM Marcus Comstedt <notifications@github.com>
wrote:

[2020-05-07 20:19] zeldin commented on #70
Since the value is an operand to XOR, using 0x7FFFFFFF would give a very different result I think.  The intention seems to be to invert the sign bit, not every bit _except_ the sign bit.  :smile_cat:

[2020-05-07 20:26] zeldin commented on #70
Come to think of it, maybe the whole thing can be rewritten to
`     return Quat( vec_xor( quat.get128(), ((vec_float4){-0.0, -0.0, -0.0, 0.0})));`
without involving any integers at all?

[2020-05-07 21:02] ParzivalWolfram commented on #70
I didn't catch that that was the intent, like I said, i'm not great at C...
hence the disclaimer.

On Thursday, May 7, 2020, Marcus Comstedt <notifications@github.com> wrote:

[2020-05-12 08:16] miigotu commented on #70
Pretty sure just changing the cast to vec_uint4 is enough:

[code]

I don't have the toolchain/libraries set up to test that out though

[2020-06-15 22:01] bucanero commented on #70
I've got a similar problem trying to build the `rsxtest` sample from PSL1GHT ( https://github.com/ps3dev/PSL1GHT/tree/master/samples/graphics/rsxtest )

by running `make`, I get the same error about the narrowing conversion.

Following @miigotu comment, I tried casting to `vec_uint4` (modified line 502 in `/usr/local/ps3dev/ppu/include/vectormath/cpp/quat_aos.h` )

Tried to compile again, and to m

[2020-06-15 22:12] bucanero commented on #59
unlink() has been added in https://github.com/ps3dev/PSL1GHT/pull/73

[2020-06-16 02:51] #59 closed

[2020-06-16 02:54] miigotu commented on #70
@bucanero the first error is easily worked around, by passing `-Wno-unused-but-set-variable`

[2020-06-16 04:00] bucanero commented on #70
oh yes, the unused variable is not a big deal, what I have no clue about is the `internal compiler error` ❓

[code]

it's the first time I see gcc telling me to report a full bug report . I just wanted to check if it was a problem on my side , or someone else also got this issue when trying to build `rsxtest`

[2020-06-16 04:15] miigotu commented on #70
Ideally someone should just update vectormath in PSL1GHT

[2020-06-16 04:27] miigotu commented on #70
@bucanero can you try checking out the :bug/issue-70 branch and compile that?

[2020-06-16 04:36] bucanero commented on #70
@miigotu sure, I'll check out and try to compile. 👍

I'll report back with my results.

[2020-06-16 08:35] crystalct opened #78 "-Os ( Optimize for space rather than speed) as CFLAGS makes Segmentation fault in compilation"
/home/crystal/tiny3D_ps3soundlib/PSL1GHT.samples/graphics/rsxtest/source/main.cpp:410:1: internal compiler error: in rs6000_savres_routine_name, at config/rs6000/rs6000.c:28661
 }
 ^

/home/crystal/tiny3D_ps3soundlib/PSL1GHT.samples/graphics/rsxtest/source/main.cpp:410:1: internal compiler error: Segmentation fault

[2020-06-16 09:23] grepwood commented on #67
3 cents anyone? Proper network stack support. I'm currently breaking my back porting github.com/ec-/Quake3e.

[2020-06-16 12:10] bucanero commented on #70
Sorry for the delay, using the fix from `bug/issue-70` removed the narrowing conversion error, but the example still fails to compile.

I'll try #77 next.

[2020-06-16 19:11] miigotu commented on #78
What if you change it to -std=c++14?

[2020-06-16 19:31] crystalct commented on #78
That also happens  with .c sources.

[2020-06-16 19:33] miigotu commented on #78
@crystalct because g++ is used for both c and c++.

[2020-06-16 19:34] crystalct commented on #78
Ok,.... i try it

[2020-06-16 19:45] crystalct commented on #78
No....
$ ppu-gcc main.c -O2 -Wall -mcpu=cell -I$PSL1GHT/ppu/include -I$PS3DEV/portlibs/ppu/include -I../include -c

crystal@DESKTOP-2FII39V ~/tiny3D_ps3soundlib/PSL1GHT.samples/graphics/cairo/source
$ ppu-gcc main.c -Os -std=c++14 -Wall -mcpu=cell -I$PSL1GHT/ppu/include -I$PS3DEV/portlibs/ppu/include -I../include -c
cc1: warning: command line option '-std=c++14' is valid for C++/ObjC++ but not for

[2020-06-16 20:19] #70 closed

[2020-06-16 20:19] #78 closed

[2020-06-16 20:23] miigotu commented on #78
![info](https://user-images.githubusercontent.com/390379/84824333-bfe83e80-afed-11ea-9bef-58c36333334e.png)

[2020-06-16 20:24] miigotu commented on #78
Either way, its just a sample so I removed the -Os and it will be fine.

[2020-06-16 20:26] miigotu commented on #67
@grepwood what do you need from us? Ill help if I can.

[2020-06-16 22:24] bucanero opened #79 "psl1ght docs"
Hello,

Not a real issue, but I wanted to discuss if you'd like to add the doxygen-generated PSL1GHT docs to the repo.

I've added them in my fork (https://github.com/bucanero/PSL1GHT/tree/master/docs), and even if they might be outdated, I still think it's good to share them with any user of the sdk.

So if you want, I can submit a PR with the `/docs` folder to be added.

cheers

[2020-06-17 00:05] miigotu commented on #79
I will never say no to tests or documentation. Please do. I don't have access to the repo settings or we could also set up a GitHub pages for it and some automated PR builds and tests. For example I use GitHub workflows on sickchill to automatically test and then build a docker image and release it on every push.

[2020-06-17 01:19] bucanero commented on #79
great!, I've just submitted the docs I generated in a new PR.
too bad we can't add some workflows, that would be neat 😄

[2020-06-17 03:32] #79 closed

[2020-06-17 03:34] miigotu commented on #79
Apparently we can use workflows. Working on setting up autobuild of ps3toolchain (with buildx manifest so it works cross platform) and then using that container to build PSL1GHT in a PSL1GHT workflow, and then an autobuild of a docker container that is FROM ps3toolchain and adds PSL1GHT and ps3libraries.

[2020-06-17 03:45] bucanero commented on #79
amazing news! 😄
I wish I could help on that, but I'm quite new on the docker stuff and workflows

the only thing I can share is a simple workflow I made on my fork, that builds the whole toolchain (toolchain+psl1ght+ps3libraries) for mac and linux:
https://github.com/bucanero/ps3toolchain/blob/master/.github/workflows/build.yml

I'll keep an eye on your updates so I can learn a bit
cheers

[2020-06-17 04:21] miigotu commented on #79
Nice, Im actually going to use some of that workflow you made.

[2020-06-17 08:26] grepwood commented on #67
@miigotu https://github.com/ec-/Quake3e/issues/55 we are missing **a lot** of headers normally found on Linux and BSD:
- net/if.h
- sys/ioctl.h
- ifaddrs.h
- sys/ipc.h
- sys/shm.h
- sys/mman.h (available in SPU part of the toolchain)
- dlfcn.h
- termios.h (includes wrong file from ps3dev, even if corrected it is massively underdeveloped)

[2020-06-17 08:28] xerpi commented on #67
@grepwood I think those should be installed by newlib and not provided by this PSL1GHT.

[2020-06-17 08:30] grepwood commented on #67
@xerpi Right. I'll recompile ps3toolchain then. Is https://github.com/ps3dev/ps3toolchain this the correct repo?

[2020-06-17 09:04] xerpi commented on #67
@grepwood I mean if we implement what I propose on this ticket, then those headers would be in newlib. Actually your comment at https://github.com/ps3dev/PSL1GHT/issues/67#issuecomment-644647112 started a totally off-topic discussion.

[2020-06-17 21:15] miigotu commented on #67
@xerpi I'm with you all the way except the db/stub. How are those addresses generated?

[2020-06-18 06:52] xerpi commented on #67
There's a list of NIDs here: https://www.psdevwiki.com/ps3/VSH_Exports

[2020-06-18 23:04] bucanero commented on #67
I'm really happy to see that this RFC is being discussed again 👍

getting PSL1GHT to build `.sprx` binaries would be a dream, providing a full open-source solution for PS3 development. 😄

I'm not the most senior developer in these kind of topics and a lot of stuff might be way over my head, but I'll be happy to help. Even with just basic stuff like building the NID database, by going to the psdevw

[2020-06-19 06:10] crystalct commented on #67
I'm new in PS3 homebrew development.. but i'm here.

[2020-06-19 14:34] SuperDre commented on #67
Biggest problem I always have is setting up the whole enviroment, I'm from the kind of developer that just installs the IDE and starts developing. I once started with PS3 dev through a virtual machine, but after a couple of upgrades of Linux and every single time something was broken, I just gave up, also tried through the one on windows but that also went fubar after I had to reinstall windows, n

[2020-06-19 17:43] grepwood commented on #67
@xerpi I hate to rain on your parade but the headers I'm looking for to realize the Quake 3 port are still available only in the phoenix, rtems and Linux targets of newlib. Which one is psl1ght using?

[2020-06-19 17:49] miigotu commented on #67
Linux ppc64

[2020-06-25 21:07] bucanero opened #89 "issue with http definitions"
Some time ago I was trying to download a file using the PS3 internal HTTP methods, but I was getting an error after calling `httpCreateTransaction()`:

[code]

After talking with other PS3 devs, I figured out that it was due to a problem in the `httpClientId` definition (0x80710010 = "Not a proper client ID"):
`<http/http.h>`
[code]

Checking Estwald's PSDK3v2 fork, I found he changed the typedefs

[2020-06-25 21:11] bucanero commented on #36
An emulated implementation of `access()` was added to newlib >>  https://github.com/ps3dev/ps3toolchain/commit/3ab93e874652a0da04a5b2530fa837b1a0b41df7

[2020-06-25 21:58] #36 closed

[2020-06-26 07:02] miigotu commented on #89
What if you just change those few typedefs?

[code]

Seems there is a lot more done there than needs to be done.

[2020-06-26 12:25] wargio opened #90 "cannot build PSL1GHT via toolchain.sh"
`ps3dev-PSL1GHT-e573ba2` is not compiling.

it's a new install on completely new machine (vm) using debian 10.

[code]

[2020-06-26 12:30] wargio commented on #90
@miigotu you broke vectormath. after this commit b5fe4c3aee8f5ce8f0649aed55caae14fe2474fc you cannot build psl1ght

[2020-06-26 14:11] bucanero commented on #89
I'll try changing only those `typedefs` and do some tests to see if everything works as it should.

I'll share my feedback when I get the results.

[2020-06-26 14:33] miigotu commented on #90
Works fine here. I'll do a fresh clone and double check.

[2020-06-26 14:37] wargio commented on #90
other stuff is broken. like the external lib libpng.

[2020-06-27 10:51] crystalct opened #92 "rsx: commands.c"
s32 __attribute__((noinline)) rsxContextCallback(gcmContextData *context,u32 count)
{
	register s32 result asm("3");
	asm volatile (
		"stdu	1,-128(1)\n"
		"mr		31,2\n"
		"lwz	0,0(%0)\n"
		"lwz	2,4(%0)\n"
		"mtctr	0\n"
		"bctrl\n"
		"mr		2,31\n"
		"addi	1,1,128\n"
		: : "b"(context->callback)
		: "r31", "r0", "lr"
	);
	return result;
}

It seems  no work on real PS3 hardware, gcc 7.2.0 compile it

[2020-06-27 11:34] crystalct commented on #92
MMM... in a fresh installation it's different.... more investigaion

[2020-06-27 11:34] #92 closed

[2020-06-27 14:33] zeldin commented on #92
I think this would be better put in a separate .S file.  Putting flow control instructions inside asm() is never a good idea...

[2020-06-27 15:21] shagkur commented on #92
I wonder how the resulting assembly code looks like, for both, gcc 4.x and gcc 7.2.0
Inline assembly is a feature, perfectly fine to bevused.

[2020-06-27 15:26] zeldin commented on #92
Well, gcc tends to screw things up if you put global control transfer in there without telling it (and there is no way _to_ tell it)...

[2020-06-27 15:28] shagkur commented on #92
That‘s why you have to analyze the resulting assembly code sometimes. This way you can tweak it a bit.
Hence i‘m asking for the resulting assembly.

[2020-06-27 21:19] zeldin commented on #92
Except if you put the code in an .S instead you _don't_ have to analyze and tweak for each gcc version (possibly breaking compat with earlier gcc versions in the process)...  :wink:
gcc doesn't really bring anything to the table here -- the function is _all_ asm...

[2020-06-27 23:49] miigotu commented on #90
That isn't libpng throwing the error, it's your compiler.

[2020-06-28 05:23] crystalct commented on #92
@miigotu @zeldin @shagkur @wargio @bucanero
We need help to understand why Tiny3D doesn't work (black screen) on real PS3 hardware compiled with gcc 7
Target: wargio/tiny3d
What i tested:
all tiny3d samples works on RPCS3 emulator compiled with gcc 7;;
all RSX graphics samples , cairo samples and NoRSX sample works on PS3 compiled with gcc 7;
tiny3d compiled with gcc 4.x works on PS3;
rsxContextCa

[2020-06-28 07:08] miigotu commented on #92
I don't even own a PS3 anymore lol, so I can't test for you.

[2020-06-28 09:37] zeldin commented on #92
@crystalct In order to reduce the number of variables, could you try to find out if it's compiling PSL1GHT, tiny3d, or the sample program with gcc7 that breaks things?  i.e. compile everything with gcc 4 and then only compile one of the three with gcc 7 and link the result to test it.  Ideally we can eventually narrow it down to single .c file that breaks things when compiled with gcc7.  Then we c

[2020-06-28 10:19] wargio commented on #92
Unfortunately I can't test either because all my ps3s are 500 km away from me

[2020-06-28 10:29] wargio commented on #90
Yes. I know is a compiler issue.
But still psl1ght doesn't build due changes in that commit

[2020-06-28 11:05] miigotu commented on #90
the vectormath commit was reverted, it wasn't supposed to be pushed.

[2020-06-28 11:25] zeldin commented on #92
Hm, when creating a common gcc-PS3 repo with the different gcc versions, I noticed that 7.2.0 is missing the file `gcc/config/rs6000/t-cell64lv2`.  I'm wondering if this could cause programs using floating point math (which I assume that tiny3d is doing) to malfunction?

[2020-06-28 12:44] bucanero commented on #92
just a small note, I have been using the PSL1GHT gcc7 build (toolchain+psl1ght) for my homebrews with no issues, along with the gcc4 build of Tiny3D (`libtiny3d.a`). My environment is running on macOS.
So, at least on my experience:
- toolchain (ggc7) + psl1ght (gcc7) + tiny3d (gcc4) = works
- toolchain (ggc7) + psl1ght (gcc7) + tiny3d (gcc7) = black screen

I don't have the RPCS3 emulator, but I

[2020-06-28 12:57] zeldin commented on #92
@bucanero Thank you, this is very valuable information.  Then we know that the problem is with creating one of the object files that goes into `libtiny3d.a`, and not in compiling e.g. `librsx.a` or `libgcc.a`.

[2020-06-28 13:16] bucanero commented on #92
An additional reference, the gcc4 `libtiny3d.a` I'm using is this one, from Estwald's repo:
https://github.com/Estwald/PSDK3v2/blob/master/libraries-src/Tiny3D/lib/libtiny3d.a

As @crystalct mentioned in another message, if you try to build Estwald's source with gcc7, first it will complain about "clobbered register r2". If you resolve that, I think it complains about some inline functions definit

[2020-06-28 13:48] shagkur commented on #92
Snce i havent touched PS3 dev in ages i‘ll first have to build the
toolchain. I also have an old VM with my build setup for gcc 4.5. I‘ll set
things in the next days and give it a go

Damián Parrino <notifications@github.com> schrieb am So. 28. Juni 2020 um
15:16:

[2020-06-28 21:27] crystalct commented on #92
Taken Tiny3D from Estwald/PSDK3v2 and compiled with gcc7 -> libtiny3d.a used as library
Written a simply test :
`s32 main(s32 argc, const char* argv[])
{
	padInfo padinfo;
	padData paddata;
	int i;
	tiny3d_Init(1024*1024);
	ioPadInit(7);
	while(1) {
        tiny3d_Clear(0xff000000, TINY3D_CLEAR_ALL);
        tiny3d_AlphaTest(1, 0x10, TINY3D_ALPHA_FUNC_GEQUAL);
        tiny3d_BlendFunc(1, TINY3D_BL

[2020-06-28 23:08] miigotu commented on #92
Is it tin3d_VertexPos, tin3d_VertexColor, or tin3d_end that causes the hang? That might narrow you down even more if you just try one method at a time.

[2020-06-29 08:53] shagkur commented on #92
Today i built the toolchain from scratch (well failed on some 3rd party ps3libraries tho), and had a look at the resulting assembly in commands.c
To me this looks all fine. Shouldn't cause any issues with the registers nor the memory (although we're entering the PRX part when calling the callback, iirc).
Anyways. Can anyone of you confirm that the psl1ght provided rsx examples work on real HW when

[2020-06-29 11:10] crystalct commented on #92
Yes, all samples from ps3dev/PSL1GHT eare working.

Here you can read my consideration about compiling toolchain gcc 7.2.0:
https://www.psx-place.com/threads/compiling-open-source-ps3-toolchain-nowadays.30030/

[2020-06-29 11:29] shagkur commented on #92
Okay. that's at least positive :)
Btw. can you have a look at this one:
`#!/usr/bin/env bash
# NVIDIA cg.dll installer script by CrystalCT (crystal@unict.it)

## Uname string
UNAME=$(uname -a)

if [[ "$UNAME" =~ (CYGWIN|MINGW) ]];
then
	## Download a fresh cg.dll
	rm -f cg.zip;
	rm -f cg.dll;
	if [[ "$UNAME" =~ (x86_64|MINGW64) ]];
	then
		wget --continue --no-check-certificate https://wikidll.com

[2020-06-29 11:31] shagkur commented on #92
So the persisting issue is tiny3d within the emu(s) and on real HW?

[2020-06-29 13:11] bucanero commented on #92
A few days ago (after @miigotu merged #75 )  I was able to build and run the `rsxtest` example with the gcc7.2 toolchain. I ran the `rsxtest` in real PS3 hardware, and it worked fine. On the other hand, `rsxtest_spu` didn't work. (black screen)

btw, I see that you committed some changes to `rsxtest`, if you need I can test again with my PS3.

From what I understand, the Tiny3d issue is only prese

[2020-06-29 13:25] bucanero commented on #92
well I think this script only makes sense for Windows users, to install the `cg.dll`, so perhaps it might be better to leave it out of the toolchain build workflow? I mean: keep the script, but don't auto-execute it during the normal toolchain build.
Also, since it's downloading the .dll files from a third-party website `wikidll.com` (not from nvidia.com) , some users might be concerned about secu

[2020-06-29 13:28] shagkur commented on #92
True. It's only used on windows. So perhaps it's better to leave it out for other OSes. However, it's still not correct since '[[' is undefined for POSIX shell (/bin/sh). So does the regex part in the if. So for these reasons it needs to be modified anyways, imo.

[2020-06-29 13:29] shagkur commented on #92
Yes, give it a try

[2020-06-29 13:31] shagkur commented on #92
Can you tell me what PS3 OS version you run? I own a PS3 with debug settings, but the 'OS' is rather old. 9 years ago it was not a good idea to update ;)

[2020-06-29 13:39] crystalct commented on #92
About NVIDIA dll installer, i modified first IF about UNAME and made a PR. Now it's system indipendent.

[2020-06-29 13:45] shagkur commented on #92
Yes, that would be great. I'd love to update it. Perhaps, sometimes in the near future we both can have a chat about how to update my PS3 nowadays etc.

Would it be possible for you, to use gcc4, but compile the latest psl1ght and example?

[2020-06-29 13:47] crystalct commented on #92
About security i check CRC.
CRC values are genuine from NVIDIA files and then they will be installed.
DLL cant be donwloaded directly from NVIDIA. For linux it's simply, the package from NVIDIA install few files into right folders.

[2020-06-29 13:59] bucanero commented on #92
For sure, if I can help let me know! 👍  we can follow up by chat (IRC, discord, etc.) or in any message board, I'm sure you can get your ps3 up-to-date easily 😄

I'll give it a try, and ping back with the feedback

[2020-06-29 14:55] bucanero commented on #92
ok, I've just tested `rsxtest` on my PS3 with the latest changes:
- `rsxtest.self` starts
- it shows the red/black bubble thing and freezes

(my previous build with gcc7 was running fine, showing the red/black bubble moving around)

should I share the elf/self files of those builds?

[2020-06-29 15:28] dee12452 opened #95 "struct sockaddr_storage definition missing in net/socket.h, causing "incomplete type is not allowed""
Hello,

Trying to port over a lib for a project I picked up and I'm running into an issue where psl1ght doesn't have an implementation for sockaddr_storage in any of the socket.h.

Looking at this doc on sys/socket.h
https://pubs.opengroup.org/onlinepubs/009696799/basedefs/sys/socket.h.html

Looks like
[code]

Just wondering why it doesn't exist? Is it because the PS3 doesn't handle IPV6?

I'm not

[2020-06-29 17:28] crystalct commented on #92
Crash on put_vertex() function, exactly here:
`memcpy((void *) &rsx_vertex[pos_rsx_vertex], (void *) &vertex_data.x, 16);`

[2020-06-29 18:05] shagkur commented on #92
Can you, locally, revert the changes i made to commands.c?
In rsxtest i just removed unused var.

Damián Parrino <notifications@github.com> schrieb am Mo. 29. Juni 2020 um
16:55:

[2020-06-29 18:35] bucanero commented on #92
Yes, I reverted that change to commands and the test worked fine again. 👍🏻

Can you commit to master, or should I do a pull request?

On Mon, Jun 29, 2020 at 15:06 shagkur <notifications@github.com> wrote:

--

Damián Parrino, M.Sc. IT
dparrino@gmail.com

[2020-06-29 20:28] bucanero commented on #89
I tested the changes in my PS3 homebrew app, and I had to apply these changes:

http.c
[code]

https.c
[code]

Without those typedef changes, connections to http/https didn't work.
I'll submit a PR to address this issue.

[2020-06-29 23:34] dee12452 commented on #95
Seems related to the question / request here
https://github.com/ps3dev/ps3toolchain/issues/78
Where we are just missing support for IPV6 headers and structs

[2020-06-30 05:44] shagkur commented on #92
Okay, i pushed the changes (i did not revert, but used to correct constraint modifier now).
Btw. rsxtest_spu still fails?

[2020-06-30 09:29] crystalct commented on #92
My tests work is here: https://github.com/crystalct/tiny3d_Estwald_work

I checked a lot...the culprit is rsx_vertex memory  and command:
`memcpy((void *) &rsx_vertex[pos_rsx_vertex], (void *) &vertex_data.x, 16);`
libtiny3d.a compiled with gcc 4 and gcc 7 produce the same result in terms of memory addresses and size.
Not working lib debug results:
[code]
Working lib debug results:
[code]
Test sam

[2020-06-30 10:23] wargio commented on #92
what instead optimizing this out via non memset and instead use a normal load/store?

[2020-06-30 10:33] crystalct commented on #92
I'

I dont know what are tolking about....

A new thing: compiling testfont sample without -O2 (no optimization at all), sample close immediatly because
`if(paddata.BTN_CROSS){`
is already true

[2020-06-30 10:58] shagkur commented on #92
I installed my DEX PS3 now (Firmware 3.6 tho). I'm now ready to upgrade this little boy :smiley:

[2020-06-30 13:34] bucanero commented on #89
I had the chance to check the cell docs about `libhttp`, and their definitions use `size_t`. Could it be that they're using a 32-bit definition of size_t ? in PSL1GHT size_t is 64-bit, that could explain why the functions fail in psl1ght when parameters are not defined as `s32`.

[2020-06-30 13:45] bucanero commented on #92
Sorry, I didn't test rsxtest_spu last time. 😅
I'll check-out the new changes and test both (`rsxtest`, `rsxtest_spu`)

[2020-06-30 14:58] bucanero commented on #92
@shagkur ,
I've tested the samples with the latest changes:
- rsxtest works fine 👍
- rsxtest_spu still fails (when running the .self, it goes back to the XMB)

btw, if you need help/info upgrading your ps3, let me know

[2020-06-30 15:48] wargio commented on #90
solved.

[2020-06-30 15:48] #90 closed

[2020-06-30 19:30] crystalct commented on #92
Tiny3D has a lot of rsx function rewritten. Is a good idea rewrite rsx layer communication of Tiny3d to use directly rsx functions?

[2020-06-30 22:42] crystalct commented on #92
Great news.....
my testfonts samples started on real PS3.
Changed `memcpy((void *) &(rsx_vertex[pos_rsx_vertex]), (const void *) &(vertex_data.x), 16);`
in
[code]
This mean that data structures are not saved consecutively in memory? This is a pain?

[2020-07-01 00:35] dee12452 commented on #67
Sorry to "bump" the thread, especially since I'm brand new to the scene, but I'd be more than happy to help make this happen. I was planning on working on porting/moving the net code over to newlib myself as a start (and to add some missing stubs in net code I need), but maybe having the NID DB and generating the .a's would be a better place to start.

[2020-07-01 06:48] zeldin commented on #92
I think it's more likely that a memcpy of length 16 uses 64-bit accesses, but your destination address is not 64-bit aligned.  memcpy shoudln't make any assumptions about alignment though, so in that case it's a bug...

[2020-07-01 06:57] crystalct commented on #92
So it's just a coincidence that we found this bug inside tiny3d, memcpy could be used everywhere...
How and where to solve this bug?

[2020-07-01 07:00] zeldin commented on #92
Yup, if I compile this:
[code]
with -O2 it becomes:
[code]
Interrestingly, if I use -Os instead, it becomes:
[code]
Does Cell support string instructions in hardware?

[2020-07-01 07:09] zeldin commented on #92
As for how to fix it, remind me:  Does Cell support unaligned 64-bit access in regular memory?  If it doesn't, then this is a potential problem for any `memcpy`, and needs to be fixed in gcc.  If it's only RSX memory that requires alignment, then it should be acceptable to say that use of gcc-builtin memcpy with RSX destination is not supported.  You can use the compiler flag `-fno-builtin-memcpy`

[2020-07-01 07:35] zeldin commented on #92
Of course, you could also replace the `memcpy` call with something like
[code]
which will be more efficient than the bytewise copy that `memcpy` would do.  This is what wargio meant by "normal load/store".

[2020-07-01 07:49] crystalct commented on #92
Now i have understood.... but Tiny3d was made 10 year before i entered into PS3 scene... i'haven't written it.

[2020-07-01 07:50] shagkur commented on #92
Buffers allocated on RSX memory should be aligned at least at 128B bounderies.

[2020-07-01 07:54] shagkur commented on #92
Well could you send me details how we could connect? I really have a few questions and issues getting it updated.

[2020-07-01 08:01] zeldin commented on #92
@shagkur This is not about the alignment of the buffer, but of the individual vertex, which may be only 32-bit aligned, due to optional attributes and whatnot.

[2020-07-01 08:17] zeldin commented on #92
As crystalct said: "after 2 vertexpos, the 3rd vertexpos fail....."
So the first two vertices had 64-bit alignment, the third one not so much.  (Probably the call to ` tiny3d_VertexColor(rgba)` changed the length of the second vertex, causing it to not be a multiple of 64 bits.)

[2020-07-01 08:18] shagkur commented on #92
@zeldin Ture. I misread the comments above.I belive the fix should be like this:
`static struct
{
    float x, y, z, w;

    float r, g, b, a;

    u32 rgba;

    float u, v, u2, v2;

    float nx, ny, nz;

    u32 pad;

} vertex_data;   // temp vertex data
`

Thbis aligns the structure to 72bytes hence dividable by 8B;

[2020-07-01 08:18] crystalct commented on #92
If you compile it with ps3 toolchain gcc 7.2.0  you will obtain a nice and friendly segmentation fault of compiler.

[2020-07-01 08:21] zeldin commented on #92
@shagkur The length of `vertex_data` is irrelevant, it's the alignment of `&(rsx_vertex[pos_rsx_vertex])` which is the issue.   `rsx_vertex` may be 128B aligned, but `pos_rsx_vertex` is not.  `pos_rsx_vertex` is not increased with the size of `vertex_data` but of the size of the actual ring commands put there, which are variable but always a multiple of 32 bits (but not necessarily 64).

[2020-07-01 08:23] zeldin commented on #92
No i did not.  Presumably you need to have some specific code rather than just giving -Os to get the ICE...

[2020-07-01 08:23] shagkur commented on #92
@zeldin if it's true, as in your example to memcpy that it loads on 64Bit bounderies then the alignment of vertex_data is relevant.

[2020-07-01 08:26] zeldin commented on #92
@shagkur Uh, yes, you are right actually.  It's _also_ relevent.  :smile:  Except `vertex_data` is not in RSX memory so maybe unaligned access is ok there?  I still can't remember how it is...

[2020-07-01 08:32] shagkur commented on #92
@zeldin If the compiler decides to use builtin_memcpy (as in your example above it seems), then you probably have to take care about the alignment of the passed pointers yourself. As far as i remember newlib's memcpy was able to cope with unaligned access because it used pro- and epilog copy operations to get aligned.
And from analyzing tiny3d.c, vertex_data, is just this static struct getting it'

[2020-07-01 08:35] zeldin commented on #92
@shagkur
Adding `attibute((aligned(8)))` to vertex_data is not going to solve the issue.  The problem is the alignment of the destination.  That is why it works for the first two vertices.

[2020-07-01 08:39] miigotu commented on #92
The segfault is due to something with heap size for the compiler.

[2020-07-01 08:43] wargio commented on #92
It should support `stswi` but RSX stuff shall be memory aligned i think to 128 or 64 (i do not remember)
The issue to me is that is calling strings stuff when it should be float values. is better to optimize it out with pointer math and load.store instructions as i have suggested above.

[2020-07-01 08:43] zeldin commented on #92
There are only three ways this can be fixed:
1) Change gcc to not use 64-bit accesses in builtin_memcpy unless the pointers actually are for types with 64-bit (ore more) alignment.  This is the correct fix if regular (not RSX) memory does not support unaligned access.
2) Use `-fno-builtin-memcpy` when compiling tiny3d (or this particular file at least)
3) Copy the values without using `memcpy`

Re

[2020-07-01 08:43] miigotu commented on #92
@shagkur need to use `\`\`triple backticks for multiline code\`\`\`
@crystalct I noticed several times someone saying he/him for you, but your name is female in english anyway. Is it he/him or she/her? Just want to be calling you by your right pronouns.

Just want to say, it's nice having so much activity in this org lately. You guys drew a couple of legends out to work on this code and that's awe

[2020-07-01 08:46] wargio commented on #92
isn't better to speak this on http://www.efnet.org/ IRC *(channel #psl1ght) ?

[2020-07-01 08:57] miigotu commented on #92
@wargio only 4 ppl in there
![image](https://user-images.githubusercontent.com/390379/86224797-545ab100-bb57-11ea-96f1-1336e649cc22.png)
If notifications are bothering you unfollow this issue and you will be pinged back in if someone tags you.

[2020-07-01 08:58] shagkur commented on #92
I see. Again didn't have a proper look at the tiny3d code  :cry:
But still to make sure source is aligned properly too,  ```__attribute__((aligned(8)))``` should be added.

[2020-07-01 09:04] wargio commented on #92
no i do not care about them. is just to resolve this in a faster way.

[2020-07-01 09:22] zeldin commented on #92
@shagkur Well, `-fno-builtin-memcpy` has existed since gcc 2.95, meaning that the function it disables (replacing calls to `memcpy` with calls to `__builtin_memcpy`) also has to be at least that old, but certainly they could have changed either the optimization settings or the implementation of `__builtin_memcpy` itself...

I'd also favor solution 3 over 2; newlib memcpy always does 8-bit memory a

[2020-07-01 09:23] crystalct commented on #92
My name is Salvo,  from Sicily (Italy) and i'm an old boy.
Crystal is my historical and official nickname, comes from Saint Seiya Anime (look at my avatar ^_^). Someone give it to me 30 years ago when i was a soldier.

[2020-07-01 09:29] miigotu commented on #92
@crystalct ok, I was just making sure. I had some people in my other orgs get a little upset in private for being called the wrong thing.

[2020-07-01 09:30] crystalct commented on #92
^_^ no prob.

[2020-07-01 09:32] wargio commented on #92
se vuoi puoi venire su IRC cosi' possiamo provare a risolvere il problema piu' velocemente. noi siamo sui server di EFnet nel canale #psl1ght

[2020-07-01 09:33] shagkur commented on #92
@zeldin

That's what i meant a few comments above. Remember i did not only work on ps1light years ago, i also built the gamecube/wii sdk + the devkit toolchain for gamecube/wii dev. Hence i digged alot in the newlib code and other parts of it :smile:

[2020-07-01 10:30] miigotu commented on #89
Lets close this and continue in #97

[2020-07-01 10:30] #89 closed

[2020-07-01 11:41] crystalct commented on #92
A psx-place user confirms -fno-builtin-memcpy worked.

[2020-07-01 11:47] wargio commented on #92
then i suggest to optimize this via assign as @zeldin suggested in point 3

[2020-07-01 11:50] crystalct commented on #92
I'm agree with you

[2020-07-01 11:51] crystalct commented on #92
`float *v = (void *) &(rsx_vertex[pos_rsx_vertex]);`
or
`float *v = (float*) &(rsx_vertex[pos_rsx_vertex]);`

[2020-07-01 11:53] shagkur commented on #92
I'd do the proper cast,  float *v = (float*) &(rsx_vertex[pos_rsx_vertex]);

[2020-07-01 11:58] wargio commented on #92
this is a cast from pointer to float. ` float *v = (float*) &(rsx_vertex[pos_rsx_vertex]);` is fine.

[2020-07-01 12:04] crystalct commented on #92
in list_code.h there are others memcpy....
[code]

[2020-07-01 12:17] bucanero commented on #92
@shagkur
I joined the EFnet channel but it seems I couldn't find you. Do you use Discord? you can ping me there: bucanero#3673
I also have an old skype account (dparrino) . If you don't have any of those, just tell me what you're using and I'll try to get an account.

oh, my father is also from Sicily 😄 (but I was born in Argentina)

[2020-07-01 12:39] crystalct commented on #92
![bitmoji](https://sdk.bitmoji.com/render/panel/430025ee-b231-4e76-b651-9909984b7b68-888af1ad-9072-4a68-8915-4e015bf57555-v1.png?transparent=1&palette=1&width=246)

[2020-07-01 15:54] crystalct commented on #92
Sources modified, PR made at wargio/tiny3d!
All samples working.

[2020-07-01 16:53] wargio commented on #92
ok, ill merge this.

[2020-07-01 17:25] wargio commented on #92
@crystalct so what is missing now is a PR to ps3libraries to install them.

[2020-07-01 17:38] miigotu commented on #67
@dee12452 absolutely. Since we will have several things going on at the same time, just make the PRs to the develop branch.

[2020-07-01 18:59] bucanero commented on #92
Some additional feedback: I've re-built a few homebrew apps using the updated tiny3d, and everything works as expected. 🎸

Just a question, I saw some diffs between https://github.com/wargio/tiny3D and https://github.com/crystalct/tiny3D , are still some PRs pending? just wanted to test the latest code that will end up in `ps3libraries`

[2020-07-01 20:36] wargio commented on #92
use my version. i fixed some issues related to the installer.

[2020-07-02 01:48] miigotu commented on #95
Have you done the check suggested in https://github.com/ps3dev/ps3toolchain/issues/78#issuecomment-408960706 ?
If it is just missing from the header you are welcome to make a PR to add the code. But first check that it is even going to work

___check that the SPRX actually supports IPv6 though (i.e. that socket(PF_INET6, SOCK_DGRAM, 0) doesn't just return an error)___

[2020-07-02 02:27] dee12452 commented on #95
Not quite, was going to do as suggested there though. I'll go ahead and close this issue and just use the other to track the work

[2020-07-02 02:27] #95 closed

[2020-07-10 15:41] bucanero opened #106 "rsxInit() change brings issue with SDL libraries"
Just noted that recent changes in `rsxInit()` from https://github.com/ps3dev/PSL1GHT/commit/d0eea6e024a6e86435136b058bc7aaf1cabb0581 , brings some issues when building the SDL_PSL1GHT library from `ps3libraries` (013-sdl_psl1ght.sh)

e.g., you'll get a `too few arguments to function 'rsxInit'` error in `SDL_PSL1GHTvideo.c`

maybe other libs or samples are affected.

[2020-07-10 16:22] zeldin commented on #106
Ugh.  That commit mixes a lot of unrelated changes which should have been separate commits...

@shagkur Changing the prototype of the API function `rsxInit` seems a bit dubious since you'll break all existing code using said API.  How about making a new API function `rsxInitExt` with the extra parameters instead and leaving the old one as it is for compat?

[2020-07-10 20:38] miigotu commented on #106
Too bad it isn't cpp, overloading would be perfect.

[2020-07-10 21:04] shagkur commented on #106
Keep calm. No worries i‘ll fix all corresponding libraries.

miigotu <notifications@github.com> schrieb am Fr. 10. Juli 2020 um 22:39:

[2020-07-10 21:06] shagkur commented on #106
Perhaps you can run a build of all ps3libraries against this commit and
give me list of the failing ones?

Mike Wiedenbauer <mike.wiedenbauer@unblu.com> schrieb am Fr. 10. Juli 2020
um 23:04:

[2020-07-10 22:22] zeldin commented on #106
Well, if you call the function with the new prototype `rsxInitExt`, you can simply make a compatibility wrapper
[code]
and then you don't have to change any libraries (or applications) at all...

[2020-07-11 11:16] shagkur commented on #106
I get your point. As well as i know how it could be solved. But this one is a bit more complicated since i also changed defines by their names. The question here is: What do we maintain? The ps3dev, hence ps3toolchain, psl1ght and the ps3librariies? If so, those are our only responsibilities. And then we still should fix the libraries.
Other applications, using librsx directly, not maintained by u

[2020-07-11 16:46] grepwood commented on #67
Before you start using newlib-3.3.0 you might want to see how every version of newlib since 2.5.0.20170519 is broken for the spu target https://bugs.gentoo.org/732206

[2020-07-12 22:08] mohasi commented on #106
Thanks @shagkur for fix, @zeldin for merge and @bucanero for reporting. Issue seems to be fixed, I did a successful build of the `ps3toolkit` without this issue showing up.

[2020-07-13 02:28] bucanero commented on #106
thanks @shagkur 👍
I'm closing this issue; fix merged in https://github.com/zeldin/SDL_PSL1GHT/pull/12

[2020-07-13 02:28] #106 closed

[2020-07-14 15:41] mohasi opened #107 "cannot build pkgi - SYS_MUTEX_ATTR_PSHARED not defined"
@shagkur You took out `SYS_MUTEX_ATTR_PSHARED` from `mutex.h` in your recent `libspumars` commit which is making https://github.com/bucanero/pkgi-ps3 fail to build :

[code]

Will it be put back?

[2020-07-15 05:05] shagkur commented on #107
@mohasi I haven't taken it out but renamed, as the compiler already suggests. I'll create a PR for it. But for now, to make sure the rest compiles fine, can you change from SYS_MUTEX_ATTR_PSHARED to SYS_MUTEX_ATTR_NOT_PSHARED on this line?
And report back if any other compile errors happen (tried to compile myself, but there're alot of dependencies to resolve first and i don't want to put too much

[2020-07-15 11:24] mohasi commented on #107
@shagkur TBH, I gave up, instead I went back to using a pre-compiled older version of the toolchain from @bucanero. The current batch of changes being done in the `toolchain` `pslight` & `libraries` seem like they are going in without proper testing.

To reproduce the error will need to do things in this order:

1. clone and build the latest ps3toolchain like you always do.
2. make a symlink `ln -

[2020-07-15 13:07] bucanero commented on #107
yes, from what I see, the only change that affects my code is a rename from:
[code]
to:
[code]

The value is still the same (0x200), so changing the line should fix it:
[code]

[2020-07-15 13:09] shagkur commented on #107
@bucanero Can you give the whole build a try? Currently i'm really busy with other stuff, so i cant/wont test myself as i'd have to gather all the dependencies. But please let me know if there're other compile errors

[2020-07-15 13:18] bucanero commented on #107
sure, first I need to checkout the latest upstream changes to PSL1GHT and rebuild my local environment. Then I'll try to rebuild my homebrew apps with the latest version and see how it goes.

When I get the results I'll share my feedback.

[2020-07-17 21:36] zeldin commented on #106
@shagkur Could you please fix SDL2_PSL1GHT as well?  I'd like to merge the `develop` branch of ps3libraries into `master`, but right now it does not build due to this breakage...

[2020-07-17 21:39] shagkur commented on #106
@zeldin whats now broken? i already made a PR for rsxInit change and it already got merged!?

[2020-07-17 21:42] zeldin commented on #106
SDL2_PSL1GHT is.  Note the "2". (Only the `develop` branch of ps3libraries builds SDL2_PSL1GHT.)

[2020-07-17 21:42] shagkur commented on #106
Ahh got it

[2020-07-17 21:45] zeldin commented on #106
https://github.com/sergiou87/SDL2_PSL1GHT/

[2020-07-17 21:49] shagkur commented on #106
cant fork it (seems to be the same as yours, somehow). github says i've already forked it (the ones from you, for which i already fixed it). Perhaps you can apply this one-liner yourself? the diff from my PR should be still around.

[2020-07-17 21:53] zeldin commented on #106
It looks like he forked the SDL_PSL1GHT repo and then updated it to be SDL2.  Just add https://github.com/sergiou87/SDL2_PSL1GHT/ as a remote and you should be able to pull the master branch from there.  After you  fix the issue, push the fix to a branch in your own fork and then create a PR against sergiou87/SDL2_PSL1GHT.

[2020-07-18 08:48] shagkur commented on #106
Does not work. If i pull/merge the upstream into mine i get a ton of merge conflicts. Not sure how i should solve this.

[2020-07-18 09:23] zeldin commented on #106
Dont pull/merge.  Create a new branch based on sergio87/master.
[code]

[2020-07-18 09:29] zeldin commented on #106
Then, when you have committed the fix to `myfixes` and pushed that branch to your own fork, you go to https://github.com/sergiou87/SDL2_PSL1GHT/pulls and press "New pull request", and choose `myfixes` as the branch to merge into sergiou87/master.

[2020-07-18 09:48] shagkur commented on #106
Done (i guess)

[2020-07-18 09:51] zeldin commented on #106
@shagkur Thanks!

[2020-07-18 09:54] shagkur commented on #106
@zeldin
btw i figured a long standing bug with the SPRX call stub, in psl1ght. Its only capable of calling methods where the passed
arguments don't exceed GPR10 (above this one, as by specification, arguments passed on the stack).

[2020-07-18 09:57] zeldin commented on #106
Cool.  I guess nobody needed to call a function with that many arguments before.  :smile:

[2020-07-18 10:00] shagkur commented on #106
probably not. I wanted to use "gcmSetZcull" which takes 12 arguments and always got an assertion with one argument past gpr10. After analyzing the stub asm method (and my little understanding of PPC asm) i figured that we dont pass those args and the SPRX lib just gets undefined data.
Trying to fix this by a special EXPORT macro where one can pass the arg count and then i'll copy from the incoming

[2020-07-18 14:44] bucanero commented on #107
quick update: yesterday I re-built the whole ps3toolchain+PSL1GHT+ps3libraries without issues, using the latest code available. (as of 2020-07-17)

Now I need to test building my own homebrew apps to see if everything works as expected. I'll update later with more information.

[2020-07-18 18:22] bucanero commented on #107
`pkgi-ps3` built ok, everything works just fine with the latest toolchain+PSL1GHT 😄

only 2 small changes required:
- the one mentioned above,
[code]

- on the `Makefile`, replace `-lfont` for `-lfont3d` (Tiny3d `libfont` was renamed to `libfont3d`)

This issue can be closed; I'll add these changes to my pkgi-ps3 repository later. 👍

cheers

[2020-07-19 17:17] shagkur commented on #106
@zeldin Your change of the RS600_ABI_NAME to linux seems to have a huge impact on resulting binaries. In my case (it's a quite big c++ project) the resulting binary crashes immediately. reverting to the commit before (along with changing back sbrk.c in psl1ght) results in working binaries. Although the rsxtest samples did work with your commit too. Anyways. I strongly believe we need to stick to "

[2020-07-19 17:27] zeldin commented on #106
@shagkur You will need to recompile all files in order to avoid problems.

I don't think the PS3 is "AIX ABI compiliant" any more than it is "Linux ABI compliant", both AIX and (big endian) Linux use ELF ABIv1.  The difference here is just that all the non-function-descriptor symbols (starting with `.`) for functions are dropped, since they are not needed anymore with GNU binutils 2.16 and newer (

[2020-07-19 17:32] zeldin commented on #106
And I know exactly why the `.text` duplicate error happens.  It's because in the old mode for every function `foo` you get two exported symbols, `foo` for the function-descriptor, and `.foo` for the non-function-descriptor entry point.  Since there are a number of pre-defined symbols starting with `. ` (such symbols are reserved for internal use by the toolchain), such as `.text`, `.data`, `.bss`

[2020-07-19 17:35] zeldin commented on #106
@shagkur If you can find a case where the actual binary code generated differs, as opposed to just the symbols, I'd be interested to see it.

[2020-07-19 17:40] shagkur commented on #106
I already rebuilt toolchain, psl1ght, and my irrlichtPS3 project. and with your latest commit it just crashes (on real HW)
reverting to the previous commit makes it work again.

[2020-07-19 17:50] zeldin commented on #106
@shagkur Yes, the `dot_symbols` effect is the one I'm after.  But as I said, there should be no difference in the actual ABI, so again, if you find some case where the generated code is different I'm curious to see it.

BTW, you should not have to revert the PSL1GHT change even with the old toolchain, since it depends only on binutils and not gcc (being inside an `asm()` and all)...

[2020-07-19 17:52] shagkur commented on #106
@zeldin The only case i can currently offer is my irrlichtP3 (port) project and the example built from it. I'd need to rearrange the example so it is self contained. Then you could fork from repo.

Hmm, but was the "." remove in sbrk.c not necessary due to the ABI change of the toolchain? Or what was the reason?

[2020-07-19 17:55] zeldin commented on #106
Well, if you feel inclined to do so I'd be happy to take a closer look at it.

Removal of the "." in sbrk.c is necessary due to the "."-symbol no longer being available, but even when the "."-symbol _is_ available, you can make the call to the symbol without the "." because that is a feature in ld.  Thus the new code without the "." works with both toolchain versions and does not need to be revert

[2020-07-19 18:01] shagkur commented on #106
Okay. this with the '.' symbol and how it's handled it didn't know. I just wanted to make sure i'm at a point where i know it did work.
But i'm happy to revert to yours (i just did it locally tho)
Would be great if you could take a closer look at it. I'll prepare the example to have all necessary data files in the repo. And will update you

[2020-07-19 18:02] zeldin commented on #106
Thanks!

[2020-07-20 06:39] shagkur commented on #106
@zeldin Here we go.... clone/fork this one: https://github.com/shagkur/irrlichtPS3.git and build example/2 (as well as the whole library)

[2020-07-20 07:43] zeldin commented on #106
@shakgur Thanks.  I get this while compiling though:
[code]
"Cg toolkit" appears to be unmaintained, unsupported, and closed source X86 code.  Is there an opensource alternative, or could you perhaps provide the relevant build products somewhere?

[2020-07-20 07:47] shagkur commented on #106
@zeldin What Os do you use? I'm on ubuntu and i just did sudo apt-get install -y nvidia-cg-toolkit

[2020-07-20 07:59] zeldin commented on #106
@shagkur Gentoo/ppc64.
Correct, the rsxtest sample does not build, but that is not needed to build and install PSL1GHT.

[2020-07-20 08:01] shagkur commented on #106
@zeldin okay. Sure it's not needed to get psl1ght built, but to know whether the stuff works or not it does matter ;)
So if i get it right there's no way for you to build irrlichtPS3 due to the missing cg toolkit on your platform :(

[2020-07-20 08:04] zeldin commented on #106
Well, if you give me the build products generated with Cg toolkit, I can build the rest.  We are looking for an issue with gcc, not Cg toolkit, so I don't expect I shall need to rebuild those parts.
Going forward it would be nice with an open source solution to build the rsxtest sample of course, but I guess that is a separate issue.  :smile_cat:

[2020-07-20 08:07] shagkur commented on #106
That's true. I'll get you the fragments needed to build the library.
Yes, would be nice, but there's no decent Opensource cg compiler out there as far as know.

[2020-07-20 08:09] shagkur commented on #106
[irrlichtPS3shaders.zip](https://github.com/ps3dev/PSL1GHT/files/4946348/irrlichtPS3shaders.zip)

[2020-07-20 08:09] shagkur commented on #106
Put the files into the build folder

[2020-07-20 08:14] zeldin commented on #106
Thanks.  Now I can build examples/2.  Will investigate.

[2020-07-20 08:15] shagkur commented on #106
Thank your very much!

[2020-07-20 08:51] zeldin commented on #106
Hm, interresting.  With the new gcc the `.text` section is smaller, but instead the `.got` section is larger.  The total size seems to be the same...

[2020-07-20 09:09] zeldin commented on #106
The difference appears to be that in one case globals are found by loading their address from the .got (`ld X(r2)`, with a R_PPC64_TOC16_DS relocation), an in the other by adding an offset to r2 (`addis X` and `addi X` with R_PPC64_TOC16_HA and R_PPC64_TOC16_LO).  Shouldn't matter as the resulting pointer should be the same either way, but I'll try to negate this change and see if anything else di

[2020-07-20 09:40] shagkur commented on #106
Well to me it seems by changing the abi name and in gcc configure addin -melf64ppc results in different build results. Keep in mind that the original PS3 SDK still is on gcc 4.1.1 and probably the underlaying FW OS is kinda relies on some sort of ABI compliancy.
But that's just wild guessing by me :smiley:

[2020-07-20 09:40] zeldin commented on #106
We've always been incompatible with the FW OS ABI (which uses 32 bit pointers, for examples).  That why we need wrappers.

[2020-07-20 09:42] zeldin commented on #106
The TOC thing seems to be because large TOC support is now default (you've always had the options to turn it on), but I don't see why it should break anything.  As I said, I'll try turning it off and see if anything else differs.

[2020-07-20 09:44] shagkur commented on #106
Yeah sure go on. I guess, nowadays, you know more and better about gcc toolchain build tweaking. I did that things at that time myself. But this is ages ago hence i'm quite happy you take a look at it.

[2020-07-20 09:48] shagkur commented on #106
Btw. i need your opinion on an other topic.....
As you know i figured the issue with the SPRX stub macro and methods with more than 8 function arguments, for which i've been able to fix it (see psl1ght commit). However, currently this is done by 2 different macros (since as of now, only 2 PRX methods are affected), but i could collapse it to macro. The advantage: Only one macro used (code maintain

[2020-07-20 09:56] shagkur commented on #106
Well this is some strange awkwardness within FW OS ABI anyways. Having a 64bit system and then fiddling around with 32bit pointers.
And due to that i just think that a slight, not even harmful , change can affect the whole thing.

[2020-07-20 10:03] zeldin commented on #106
The 32-bit pointers do kind of make sense considering the PS3 has <1GB of RAM...
I think having two macros is fine.  If you want to share some implementation I guess you could factor that out into a utility macro used by the other two?

[2020-07-20 10:07] shagkur commented on #106
well atm they don't really share much. Wouldn't make sense to create a utility macro therefore. I guess, for now i keep it with 2 and if i'm really in the mood to spend hours of stupid copy over work, i'll collapse the 2 into 1.

[2020-07-20 11:05] zeldin commented on #106
@shagkur I changed the default code model to "small" (max 64K TOC), and now the binary built in `examples/2` is 100% identical to the one built with the old toolchain.

Note that there is no obvious reason why building with the "medium" model should make the code crash, this has nothing to do with ABI and is purely a code generation style option (the code uses a few more instructions for TOC looku

[2020-07-20 11:18] shagkur commented on #106
@zeldin Have you been able to run the example on HW? or do you mind to send me your build version of the example, so i can test here?
This sounds really a bit strange. It's forcefully set to medium but previous gcc 7 toollchain built produced athe small model?
Well, i was kinda surprised too that it all of a sudden crashed with irrlichtPS3. Because the rsxtest samples all worked.
Currently i'm aga

[2020-07-20 11:27] zeldin commented on #106
I haven't tested it on HW yet, I'm making a full rebuild of everything now, I can send you the resulting binary afterwards.

Well, it wasn't forceful, it was just the default, but it was this default setting that I could change from "medium" to "small" to get the small model back afterward.   There's probably a logical explanation for this, I just didn't see it without instrumentation of the code,

[2020-07-20 12:04] zeldin commented on #106
@shagkur Here are the binaries I build with everything from master:  https://mc.pp.se/irrlicht_example_2.zip
I also tested it on PS3 hardware and it worked fine (showing some stone steps and a moving light source).

[2020-07-20 12:07] shagkur commented on #106
That sounds promising. Yeah, it's not that fancy example, but if it wouldn't work it'd crash immediatly.

[2020-07-20 12:13] shagkur commented on #106
@zeldin Here's the built from the "nonworking" toolchain with the stacktrace:
[2_crash.zip](https://github.com/ps3dev/PSL1GHT/files/4947567/2_crash.zip)

[2020-07-20 12:50] zeldin commented on #106
Looks like it's crashing in pngDecCreate, but the actual crash is down inside libpngdec.sprx somewhere.  So I guess it got bad arguments from the caller (`irr::video::CImageLoaderPNG::CImageLoaderPNG()`) or something?

[2020-07-20 12:52] shagkur commented on #106
Okay. hmm...need to take a look then. Kinda strange it's not triggering the crash with the small model?

[2020-08-31 12:46] bucanero opened #110 "missing rewinddir()"
Right now you can call 'rewinddir' in your code but it does nothing.
from what I saw, we are missing the `rewinddir()` implementation. PSL1GHT provides opendir(), readdir() and closedir() based on SCE openDir(), ReadDir() and CloseDir().

Is there a way to provide rewinddir() under PSL1GHT even if we don't have a PS3 syscall for it? I'm thinking about some emulated version but I'm not sure if it's

[2020-09-10 07:02] xerpi commented on #67
I've managed to get from my old laptop the folder containing the v3 experiments I was doing regarding stub generation. I have re-uploaded the files with broken links  (now the file should be permanent, I'm using gist.github):

I have also uploaded a tool that can be helpful to examine the NIDs and libraries/modules of ELF files: [nidreader.py](https://gist.github.com/xerpi/4aaf83ca59c33190c960881e

[2020-09-18 15:26] bucanero opened #112 "ftello() issue with big files"
When using `ftello()` with a big file (over 2GB), the returned value is invalid (.e.g `0xffffffff88776655`) as if it suffered overflow from a 32-bit limit.

I'd expect such behavior from `ftell()`, but since `ftello()` return a `off_t` type (64 bits) I'd have expected a valid value.

Btw, using `stat()` on the same file and getting the size attribute returns the expected file size value.

[2020-10-22 10:45] devildwarf opened #113 "Segmentation Fault CGCOMP on Msys2/Mingw"
I compiled CGCOMP on Mingw64 in Msys2 and everytime i try to run cgcomp with a command such as -f it gives Segmentation Fault, this didnt happen on the older builds (before June 2020).
![Annotation 2020-10-17 205933](https://user-images.githubusercontent.com/73285343/96861376-e9155180-145b-11eb-89eb-c4503dcb92ad.png)

[2020-12-11 14:41] bucanero commented on #113
there's a recent change in `cgcomp` build flags:
https://github.com/ps3dev/PSL1GHT/commit/6e565a70e927f55813babe86dc6f64149535f908

perhaps this solves your issue with mingw?

[2020-12-11 14:51] bucanero opened #115 "idea: using GitHub Discussions"
GitHub has recently enabled a new feature called `Discussions`, it's like a forum where you could post messages and discuss topics, but outside the `Issues` tab.

I think it would be nice to enable it for this project, as a place to chat and discuss general PS3 development stuff, like the PSL1GHT v3 RFC, while keeping issues clean from off-topics.

[2020-12-16 14:43] ErikPshat opened #116 "After installing PSL1GHT need to install the Cg Toolkit?"
After installing PSL1GHT, you probably need to install the Cg Toolkit?
At the end of compilation, the following is written in the console:

![alt tag](https://i2.imageban.ru/out/2020/12/16/b1937242e8b11f30dfc86d9e64285cc1.png "Linux and Mac users should install Cg Toolkit package from NVIDIA web site.")​

You should download and install the Cg Toolkit with the following command from the Ubuntu rep

[2021-01-01 00:14] devildwarf commented on #113
Hi, sorry for the late reply, my health hasnt been good recently (nothing serious but it has made me less active)
Anyway the changes made no difference, just tried with the latest cgcomp and im still getting segmentation faults
![image](https://user-images.githubusercontent.com/73285343/103431320-26b5f980-4bc6-11eb-93fd-a68a67a790d7.png)
still works fine in cygwin but this happens in Mingw

[2021-01-15 12:11] crystalct opened #117 "Missing RSX functions"
Hello Guys, i'm tiring to understand if is possible for me to write a sort of wrapper for RSX like PSGL is for GCM.
I noticed the missing of some RSX functions:
SetPolygonOffsetLineEnable
SetRestartIndexEnable
SetZMinMaxControl
SetDepthBoundsTestEnable

Is there any reason for that absence?

[2021-01-27 14:56] crystalct commented on #113
If cgcom work fine on Mingw if you use absolute paths, for example:
`cgcomp -f /home/myname/alpha.fcg /home/myname/alpha.fpo`,
then the problem is the same on cyqwin before my fix....

[2021-01-29 10:38] crystalct opened #119 "CYGWin compilation error"
Functions `strcasecmp` and `strdup`  not defined.

[2021-01-29 17:52] #119 closed

[2021-02-01 11:40] ErikAndren opened #121 "Issues building on mac os x catalina"
Hi I have issues building on mac os x catalina.
The xcrun _--show-sdk-platform-path_ command does not work.

I have created two separate patches that fixes the problem:

The first patch fixes the issue and sets the OSX_MIN variable to the default 10.4.
This creates linker warnings:
_ld: warning: dylib (/usr/local/lib/libgmp.dylib) was built for newer macOS version (10.15) than being linked (10.4)_

[2021-02-01 12:43] zeldin commented on #121
I don't think hardcoding "10.15" is going to work very well on, say, a 10.5 system.  So I'd prefer the second variant.  What happens when you have "the xcode version of the sdk"?  Can the methods be chained (i.e. try one, then the other, and finally fall back to "10.4")?

[2021-02-01 15:43] ErikAndren commented on #121
Sure. The attached patch chains a test for the xcrun --show-sdk-versions before falling back on 10.4
The consequence is that building against xcode sdk will result in a OSX_MIN 10.4.
This in turn will fail result in a cgcomp build failure, due to the lack of libstdc++ with such a low OSX_MIN number.

I am doubtful the 10.4 path has ever been tested as the previous makefile assignment:
OSX_MIN := $

[2021-02-02 18:29] zeldin commented on #121
Thanks.  I tested this on 10.5 (where xcrun doesn't support either `--show-sdk-platform-path` or `--show-sdk-version`) and got `10.4`, as well as on big sur where I got `11.1`.  So this looks good to me.

[2021-02-06 19:17] crystalct opened #122 "rsxSetTransferImage doesn't work as expected"
`srcX` and `srcY` are ignored (always 0 and 0).
You have to add manually `(srcX + srcY * width_src_image) * bytes_per_pixel` to `srcOffset`

[2021-02-08 09:30] shagkur commented on #122
I've just commited a fix for this. Can you give it a try.

[2021-02-08 10:00] crystalct commented on #122
At home i will test it.

[2021-02-08 14:57] crystalct commented on #122
Works!

Do you have or know a place where find examples about RSX and freetypes fonts (not tiny3d) to use unicode fonts  (to use also japan characters) ?

[2021-02-08 14:57] #122 closed

[2021-02-20 09:43] zeldin commented on #121
Sorry, looks like I forgot about this for a while.  Pushed to master now.

[2021-02-27 15:45] vguttmann opened #123 "Samples are broken"
Hey there!
I installed ps3dev/ps3toolchain, and after I built everything (no problems there), I tried to compile the samples. Several times, I got the error that spu_bin.h is missing, as well as many things in the cairo example.

Are those known problems? Or am I missing something here?

[2021-03-02 20:07] bucanero commented on #117
hi @crystalct 👋
I honestly have no clue about RSX, but maybe @shagkur can answer your question?

[2021-03-03 12:31] shagkur commented on #117
No there's no specific reason. Just have to add them.

[2021-03-13 03:57] luizfernandonb opened #124 "How to compile the examples from the network/ folder? (ppu.mk is missing)"
I was trying to compile some examples and when I'm going to compile the examples from the `network/` folder, the Makefile includes a file called `ppu.mk` that comes from the `$(PSL1GHT)/host` folder, but it's not there, I've already recompiled the toolchain from zero twice and the SDK too, but this folder is never created

[This line](https://github.com/ps3dev/PSL1GHT/blob/master/samples/network/n

[2021-03-13 08:39] zeldin commented on #124
It looks like two of the examples there never were converted to the new layout.  Do they work if you just change the line to instead say `include $(PSL1GHT)/ppu_rules` like in the other network examples?

[2021-03-13 14:56] bucanero commented on #112
any idea about this issue/bug? @zeldin @miigotu @shagkur

thanks!

[2021-03-13 18:33] miigotu commented on #112
@bucanero methinks your printf has the wrong format specifier.

`printf​(​"​File size: ​%lld​"​, TotalSize);`

[2021-03-13 18:37] luizfernandonb commented on #124
Unfortunately not
[code]

The `net.h` file does not exist in the `lv2/` folder

[2021-03-14 01:03] zeldin commented on #112
Actually, `ftello` in newlib simply calls `ftell` and then casts the result to an `off_t`.  So you can expect the same behaviour from `ftello` as from `ftell`.  Still, `long` should be 64 bits since the PS3 is a 64-bit system, so over 2GB files should be fine with both `ftell` and `ftello`...

[2021-03-14 02:14] bucanero commented on #112
hello, thanks for the answers 👍

oh I fixed my printf (now using `%016llX`) but I still got a wrong value. :(
For example, from a  4311408640 bytes file (0x100FAE000) I've got:
[code]

from my test above (the ~4 GB file) it seems that somewhere there might be a 32-bit conversion, even if everything is 64 bits.  Any ideas where I could look? newlib or somewhere else?

[2021-03-14 09:05] zeldin commented on #112
I'd start by looking at the libsysbase implementation of `lseek`.  Maybe there is an lv2 call that truncates the value.

[2021-03-14 09:12] zeldin commented on #124
Ok, looks like the C code needs updating too.  This include should be `#include <net/net.h>` now.

[2021-03-14 09:18] zeldin commented on #124
Actually, #114 contains all the needed fixes AFAICT.

[2021-03-14 15:57] ibrakap commented on #123
I know i came too late but can you try my pr #114 . It should fix your problem.

[2021-03-14 16:43] miigotu commented on #112
Yeah without setting up and doing some tests and debugging I have no clue where to point you to.

[2021-03-15 20:32] bucanero commented on #112
thanks @zeldin , I'll take a look around lseek when I have a chance 👍

[2021-04-17 14:49] zeldin commented on #112
@bucanero AFAICT both `__librt_lseek64_r` and `__librt_lseek_r` in librt call the same LV2 function `sysLv2FsLSeek64`.  So they should give the same result.  The only difference is that one returns the value as an `_off64_t` and the other as an `_off_t`.  Both these seem to be typedeffed to `long long` though...

[2021-07-20 07:09] #121 closed

[2022-02-17 19:42] TylerJaacks opened #132 "/usr/include/x86_64-linux-gnu/sys/types.h:25:10: fatal error: features.h: No such file or directory"
When running make I get this error.

[code]

[2022-02-17 20:15] miigotu commented on #132
Where did you get the toolchain from?

[2022-02-18 04:02] TylerJaacks commented on #132
I ran the toolchain shell script

[2022-02-19 07:08] miigotu commented on #132
And did you:
[code]

[2022-02-20 04:15] TylerJaacks commented on #132
Ok I fixed it I ran the sudo version of the toolchain.sh file and it worked.

[2022-02-20 04:15] #132 closed

[2022-03-14 21:25] 60fpshacksrock opened #133 "Request: cellSysutilEnableBgmPlayback option support."
Would it be possible to add an option to enable XMB in-game background music for homebrew?

I heard that this feature is missing in this SDK. I am not a programmer but this could be a nice addition to allow
music playback in homebrew.

[2022-04-07 18:20] ProtoByter opened #135 "Outputted binaries don't work in RPCS3"
Currently, for some reason, binaries generated by the default workflow used by psl1ght just segfault in RPCS3 when trying to call `sysSpinlockInitialize`
Specifically it gives this error:
`F {PPU[0x1000000] Thread (main_thread) [0x7c0802a4]} VM: Access violation executing location 0x7c0802a4 (unmapped memory)`
This function is called in the `sbrk_init` function.
Thanks to kd-11 on the RPCS3 discor

[2022-04-07 19:25] ProtoByter commented on #135
So it appears that the SELF outputted works, but the ELF doesn't
I'mma close this since I feel dumb af now

[2022-04-07 19:25] #135 closed